html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-layer {
  background-image: url('/images/layered-waves.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-layer-two {
  background-image: url('/images/wave-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-layer-three {
  background-image: url('/images/wave-haikei-2.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-layer-profile {
  background-image: url('/images/layered-profile.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-link-active {
  @apply bg-blue-500 text-gray-50 h-full flex items-center px-2 sm:px-4 cursor-pointer;
}

.input-text {
  @apply py-1 2xl:py-2 px-2 rounded-md bg-gray-50;
}

.textarea {
  @apply w-full h-28 bg-gray-50 p-2;
}

ul {
  padding-left: 20px;
  list-style: disc;
}

.li-navbar {
  @apply block px-2 sm:px-4 py-4 sm:py-0 cursor-pointer hover:underline;
}

::-webkit-file-upload-button {
  color: white;
  background: #247a3a;
  padding: 10px;
  border: none;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

::-webkit-file-upload-button:hover {
  background: #059629;
  transition: all;
  transition-duration: 100ms;
}
